# Laravel app key
LARAVEL_APP_KEY=

# MySQL credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# DBGate credentials
DBGATE_PASSWORD=

# Recaptcha
RECAPTCHAV3_SITEKEY=
RECAPTCHAV3_SECRET=

# NoCAPTCHA
NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

# IP Geolocation
IPGEO_API_KEY=

# Mailjet
MAILJET_APIKEY=
MAILJET_APISECRET=